.App {
  font-family: sans-serif;
  text-align: center;
}
header {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: black;
  color: white;
}
.container-center {
  margin: auto;
  max-width: 225px;
}
.display {
  border: 2px solid;
  border-radius: 10px;
  height: 15px;
  padding: 1rem;
  text-align: right;
  background-color: lightgray;
}
.keypad {
  border-radius: 10px;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
.button-number {
  background-color: lightblue;
}
.button-black {
  padding: 1.2rem;
  border: 0;
  width: 100%;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}
.button-red {
  padding: 1.2rem;
  border: 0;
  width: 100%;
  color: red;
  background-color: lightpink;
  font-weight: bolder;
  border-radius: 10px;
}
.button-blue {
  padding: 1.2rem;
  border: 0;
  width: 100%;
  color: blue;
  font-weight: bolder;
  border-radius: 10px;
}

